
.social-links{
    display: flex;
    flex-wrap: wrap;
}

.social-links div{
    border:  1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin: auto;
}

.social-links div i{
    color: white;
    font-size: 20px;
}

.copy-right{
    background-color: #1A252F;
}
.copy-right p{
    color: white;
}